.bg {
  background-image: url("https://img.freepik.com/premium-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-444.jpg");
  background-size: cover;
  background-position: center;
}
