# PostgreSQL database configuration
DB_CONNECTION=pg
DB_PORT=5432

# host.docker.internal is a special DNS name that resolves to the internal IP address used by the host.
# This is for development purposes only, and will not work in a production environment where services are typically run on separate hosts.
# See https://docs.docker.com/docker-for-mac/networking/#use-cases-and-workarounds
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Server configuration
NODE_ENV=test
PORT=3000