.custom-navbar {
  background-color: rgb(15, 18, 22);
}

.logo {
  border-radius: 50%;
}

.brand > .logolink {
  transition: 0.5s ease-in-out;
}

.brand:hover > .logolink {
  transform: translate(130%) scale(1.3);
}

.brand > .milink {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.brand:hover > .milink {
  transform: translate(-50%);
  opacity: 0;
}
